body {
background-color: #EBF4FA;
}



/*This is a tag*/
h1  {
  font-family: sans-serif;
  color: #2C3539;
}

h2  {
  font-family: sans-serif;
  color: #2C3539;
}
h3 {
  font-family: sans-serif;
  color: #2C3539;
  font-style: italic;
  line-height: 0;
}

p  {
  font-family: sans-serif;
  color: #2C3539;
  font-size: 16px;
}
a {
  font-family: sans-serif;
  color: teal;
}

li {
  display: list-item;
  font-family: sans-serif;
  list-style-position: inside;
}

.indent {
  padding-left: 30px;
}

/*This is a class*/
.uppercase{
  text-transform: uppercase;
}
.content{
  padding: 40px;
}
/*This is an ID*/
#title{
  color: navy;
}
